{{ define "base" }}

<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <nav>
        <a href="/">Accueil</a>
        <a href="/club">Le club</a>
        <a href="/where">Où ?</a>
        <a href="/when">Quand ?</a>
        <a href="/contact">Contact</a>
        <a href="/rules">Règlement</a>
    </nav>

    <header>
        <p>{{ .SiteName }}</p>
    </header>

    <main>
        {{ template "content" . }}
    </main>

    <footer>
        <p>{{ .SiteName }}</p>
    </footer>

</body>

</html>

{{ end }}
