{{ define "content" }}

<h1>Liste des personnes rentrées en contact avec {{ .SiteName}} </h1>

<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Numéro de téléphone</th>
            <th>Email</th>
            <th>Adresse</th>
            <th>Créé le</th>
        </tr>
    </thead>

    <tbody>
        {{ range .Persons }}
        <tr>
            <td>{{ .FirstName }}</td>
            <td>{{ .LastName }}</td>
            <td>{{ .BirthDate }}</td>
            <td>{{ .PhoneNumber}}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Address }}</td>
            <td>{{ .CreatedAt}}</td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ end }}
